<script src="bundle.js"></script>


<footer class="footer bg-dark">
  <div class="container position-relative">
    <div class="row justify-content-center ms-0 me-0 rowAfterContainer" style="height: 100%;">

    <div class="row">
      <div class="col-12 mx-auto d-flex flex-column flex-md-row align-items-center justify-content-between">
        <h4 class="text-light fw-semibold fs-3 text-center">Etkinliğini Oluştur, Katılımcıları Çek!</h4>
        <a href="/events/newevent"><button class="btnStyles" type="button">Etkinlik Oluştur</button></a>
      </div>
      <hr class="border-1 border-primary-subtle mt-3" />
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 col-lg-4 mt-3">
        <h5 class="fs-5 text-center mb-3" style="color: var(--light-color)">Hesabım</h5>
        <ul class="d-flex flex-column align-items-center justify-content-center">
          <% if (!user) { %>
            <li class="mb-1"><a href="/login" class="footerElements">Giriş Yap</a></li>
            <li><a href="/login" class="footerElements">Kayıt Ol</a></li>
          <% } else if (user.membershipLevel === 'premium' || user.membership === 'premium') { %>
            <li class="mb-1"><a href="/user/profile" class="footerElements">Ayarlar</a></li>
            <li><a href="/user/profile" class="footerElements">Profilim</a></li>
            <% } else { %>
              <li class="mb-1"><a href="/pricing" class="footerElements">e+ Üyeliği</a></li>
              <li class="mb-1"><a href="/user/profile" class="footerElements">Ayarlar</a></li>
              <li><a href="/members/<%=user.id%>" class="footerElements">Profilim</a></li>
              <%  }%>
        
        </ul>
      </div>

      <div class="col-md-5 col-lg-4 mt-3">
        <h5 class="fs-5 text-center mb-3" style="color: var(--light-color)">etkinlikdolu</h5>
        <ul class="d-flex flex-column align-items-center justify-content-center">
          <li class="mainListElements"><a href="/complaints" class="footerElements">Şikayet ve Öneri</a></li>
          <li class="mainListElements"><a href="/events" class="footerElements">Etkinlikler</a></li>
          <li class="mainListElements"><a href="/contact" class="footerElements">İletişim</a></li>
          <li class="mainListElements"><a href="/help" class="footerElements">Yardım</a></li>
        </ul>
      </div>

      <div class="col-md-5 col-lg-4 mt-3">
        <h5 class="fs-5 text-center mb-3" style="color: var(--light-color)">Etkinlikler</h5>
        <ul class="d-flex flex-column align-items-center justify-content-center">
          <li class="mainListElementsEvents"><a href="#" class="footerElements">İstanbul Etkinlikleri</a></li>
          <li class="mainListElementsEvents"><a href="#" class="footerElements">İzmir Etkinlikleri</a></li>
          <li class="mainListElementsEvents"><a href="#"class="footerElements">Ankara Etkinlikleri</a></li>
          <li class="mainListElementsEvents"><a href="#" class="footerElements">Eskişehir Etkinlikleri</a></li>
          <li class="mainListElementsEvents"><a href="#" class="footerElements">Antalya Etkinlikleri</a></li>
          <li class="mainListElementsEvents"><a href="#" class="footerElements">Bursa Etkinlikleri</a></li>
        </ul>
      </div>

      <div class="col-md-5 col-lg-4 mt-3">
        <h5 class="fs-5 text-center mb-3" style="color: var(--light-color)">Bizi Takip Et</h5>
        <ul class="d-flex flex-column align-items-center justify-content-center">
          <li class="mb-1"><a href="#" class="footerElements"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-3 justify-content-center align-items-end">
      <div class="col-md-5 col-lg-3 text-lg-start text-center mb-3">
        <h1 class="text-light fw-bold">© etkinlikdolu.com 2023</h1>
      </div>
      <div class="col-md-5 col-lg-3 text-lg-start text-center mb-3">
        <h1><a href="#" class="footerElements">Gizlilik Politikası</a></h1>
      </div>
      <div class="col-md-5 col-lg-3 text-lg-start text-center mb-3">
        <h1><a href="#" class="footerElements">Hizmet Şartları</a></h1>
      </div>
      <div class="col-md-5 col-lg-3 text-lg-start text-center mb-3">
        <h1><a href="#" class="footerElements">Çerez Politikası</a></h1>
      </div>
    </div>
  </div>
  </div>
</footer>
<% if (user) { %>
  <script>
    const button = document.querySelector('.userButtonDesktop');
    button.addEventListener('click', () => {
        if (button.classList.contains('show')) {
            button.classList.add('custom-style');
        } else {
           button.classList.remove('custom-style');
        }
    });
  </script> 
<% } %>

<script>
  // Tüm li elementlerini seç
// Tüm li elementlerini seç
const listItems = document.querySelectorAll('.mainListElementsEvents');

listItems.forEach(item => {
  item.addEventListener('click', function(e) {
    e.preventDefault();
    const searchforeventlocation = this.textContent.split(' ')[0];

    fetch('/events', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ searchforeventlocation, fromFooter: true })
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok.');
      }
      return response.json(); // Sunucudan gelen yanıtı JSON olarak dönüştür
    })
    .then(data => {
      // Sunucudan gelen yanıt başarılıysa ve bir yönlendirme adresi varsa
      if(data.redirect) {
        // Sunucunun belirttiği adrese yönlendir
        window.location.href = data.redirect;
      }
    })
    .catch(error => console.error('Error:', error));
  });
});




</script>
<script src="https://kit.fontawesome.com/fbc606679a.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>

  let globalToken = undefined;
    function onSubmitCallback(token) {
        globalToken = token;
        
          }

    document.getElementById("getLoginForm").addEventListener("submit", function(event) {
  
      if(!globalToken) {
        event.preventDefault();
      }
    });

    document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById('getLoginForm');
    const submitBtn = document.querySelector('.loginButton');
    const popoverContainer = document.getElementById('popoverContainer');

    form.addEventListener('submit', function() {


      
        let popoverContent = '';
        if (!globalToken) {
            popoverContent = 'Lütfen Doğrulama İşlemini Yapınız';
        }

        
        const popover = new bootstrap.Popover(popoverContainer, {
            content: popoverContent,
            trigger: 'manual',
            container: popoverContainer,
        });
        popover.show();

        document.addEventListener('click', function(event) {

if (!popoverContainer.contains(event.target) && !submitBtn.contains(event.target)) {
    popover.hide();
}
});


submitBtn.addEventListener('click', function(event) {

event.stopPropagation(); 
if (popover) {
popover.hide();
}
});
    });

   
});

    
              
</script>


<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
</body>
</html>