.App {
   position: relative;
}

#itemList {
    position: absolute;
    top: 4.7rem;
    left:0;
    width: 100%;
}

#itemList_district {
    position: absolute;
    top: 8.5rem;
    left:0;
    width: 100%;
}
