.loginBackground {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);

}

.popover {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 17px;
    opacity: 0;
    visibility: hidden;
    width: max-content;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -60px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.popover::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #fff transparent;
    left: 50%;
    top: -10px;
    margin-left: -8px;
}


.animated {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.registerForm {
    width: 75%;
}

.formLogin {
    width: 75%;
}


/* LARGER THAN 1200PX */
@media screen and (min-width: 1200px) {
    .loginLogo {
        margin: "0 15rem 7rem 0"
    }

    .loginBackground {
        width: 75%;
    } 

}

/* SMALLER THAN 1200PX */
@media screen and (max-width: 1200px) {
.loginBackground {
    width: 65%;
    background: white !important;
} 

.registerForm {
    width: 95%;
}

.formLogin {
    width: 95%;
}
}
/* SMALLER THAN 768PX */
@media screen and (max-width: 768px) {
    .loginBackground {
        width: 90%;
    } 
}
/* SMALLER THAN 576px */
@media screen and (max-width: 576px) {
    .loginBackground {
        width: 100%;
    } 
}