<%- include('./partials/_header.ejs') -%>


<section id="notfound">
    <i class="fa-solid fa-triangle-exclamation" style="font-size: 13rem;"></i>
<h1 class="fs-3">Oops, böyle bir sayfa mevcut değil. Etkinlik aramaya devam etmek için <a href="/events">buraya</a> tıklayabilirsiniz.</h1>
</section>


<%- include('./partials/_footer.ejs') -%>