<%- include('./partials/_header.ejs') -%>
   <section id="helpSection">

    <main>
        <section class="help-banner">
            <h1 class="fs-1">Yardım Merkezi</h1>
            <p>Tüm sorularınıza cevap bulun ve yardım alın.</p>
        </section>

    
        <div class="container">

      
        <section class="popular-topics">
          
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group d-flex flex-row" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Etkinlik Oluşturma</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Etkinlikleri Yönetme</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">e+ Üyeliği</a>
                      </div>
                </div>
            </div>
        
        </section>

        <section class="faq">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                            <div class="accordion w-100 mt-5" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                      Etkinlik nasıl oluşturabilirim?
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                       <code> - Etkinlik düzenleyerek kullanıcılara duyurabilmek için e+ aboneliğinizi 7 gün ücretsiz başlatabilirsiniz.</code>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                      Etkinlik oluşturduktan sonra iptal edebilir miyim?
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                    <code> - Evet. Etkinliğinizi oluşturduktan sonra iptal edebilirsiniz. Etkinliğinizi iptal ettiğinizde tüm katılımcılara etkinliğinizi iptal ettiğinize dair bildirim gidecektir. </code>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      Etkinliklere katılmak ücretsiz mi?
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                     <code> - Tamamen ücretsiz şekilde etkinliklere katılabilirsiniz. </code>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        Daha fazla sorum var, nereden destek alabilirim?
                                      </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                                      <div class="accordion-body">
                                         <code> - <a href="/contact" class="underline-link" style="color: #D63384 " >Bu linke</a> tıklayarak bize ulaşabilirsiniz.</code>
                                      </div>
                                    </div>
                                  </div>
                              </div>

                             
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">deneme</div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">

                            <h1 class="fs-4 text-center mt-5">Etkinlikdolu+ Aboneliği Hakkında Merak Edilenler</h1>
                          
                        </div>
                      </div>
                </div>
              </div>
          
        </section>

        <!-- <section class="contact-us">
            <h2>Still Need Help?</h2>
            <p>Contact our support team for further assistance.</p>
            <ul>
                <li><a href="/contact">Bize Ulaşın</a></li>
            </ul>
        </section> -->
    </div>
    </main>
   </section>
<%- include('./partials/_footer.ejs') -%>