<%- include('./partials/_header.ejs') -%>

    <section id="neweventsection">
        <div id="progress-root"
        user-info="<%=(typeof usermembership !== 'undefined') ? JSON.stringify(usermembership) : '{}' %>"
        ></div>
    </section>
 

<%- include('./partials/_footer.ejs') -%>