<%- include('./partials/_header.ejs') -%>

    <section id="neweventsection">
        <div id="progress-root"
        event-categories="<%=(typeof eventCategories !== 'undefined') ? JSON.stringify(eventCategories) : '{}' %>"
        ></div>
    </section>
 

<%- include('./partials/_footer.ejs') -%>