<%- include('./partials/_header.ejs') -%>

    <section id="neweventsection">
        <div class="container-xxl">
            <div id="progress-root"></div>
            <script src="bundle.js"></script>
        </div>
    
    </section>
 

<%- include('./partials/_footer.ejs') -%>