<%- include('./partials/_header.ejs') -%>


<section id="pricing">

  <div class="container-fluid">
    <div class="row firstRow border border-1">
      <div class="col-12 mt-5 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center display-4 text-secondary-emphasis fw-bold">etkinlikdolu sizi daha fazla insana ulaştırıyor</h1>
        <p class="fs-4 mt-5 text-center text-secondary-emphasis ">etkinlikdolu.com; hobilerinizi insanlarla buluşturan platform.</p>
      </div>
    </div> 

    <div class="row justify-content-center mt-5 pb-5">
      <h1 class="text-center display-6 mt-5">Şimdi siz de premium olun!</h1>
      <div class="col-lg-5 mt-5">
        <div class="card pricing-card">
          <div class="card-body">
            <h5 class="card-title text-center fs-1">Sosyal</h5>
            <hr>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <div class="d-block ms-4">
                <p class="fs-5 text-primary-emphasis"><i class="fa-solid fa-check" style="color: green;"></i> Sınırsız Etkinlik Oluşturma</p>
                <p class="fs-5 text-primary-emphasis"><i class="fa-solid fa-check" style="color: green;"></i> Reklamsız Deneyim</p>
                <p class="fs-5 text-primary-emphasis"><i class="fa-solid fa-check" style="color: green;"></i> Etkinlikleri Öne Çıkarma</p>
                <p class="fs-5 text-primary-emphasis"><i class="fa-solid fa-check" style="color: green;"></i> Öncelikli ve Sınırsız Destek</p>
              </div>
            </div>
           

              <h3 class="text-center  border border-1 py-3 fw-bolder my-5 fs-3">Aylık / <b class="text-decoration-line-through">169,99₺</b> / 89,90₺ </h3>

              <div class="d-flex justify-content-center my-5">
                <h4>Soruların mı var?</h4>&nbsp;
              <a href="contact">Bize Ulaş</a>
              </div>
       
            <a href="/payment" class="btn d-block mx-auto w-75 border-0 py-2 text-white" style="background: var(--first-color)">10 Gün Dene</a>
          </div>
        </div>
      </div>

      <div class="col-lg-5 mt-5">
        <div class="card pricing-card">
          <div class="card-body">
            <h5 class="card-title text-center fs-1">Dışadönük</h5>
            <hr>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <div class="d-block ms-4">
                <p class="fs-5 text-primary-emphasis"><i class="fa-solid fa-check" style="color: green;"></i> Sınırsız Etkinlik Oluşturma</p>
                <p class="fs-5 text-primary-emphasis"><i class="fa-solid fa-check" style="color: green;"></i> Reklamsız Deneyim</p>
                <p class="fs-5 text-primary-emphasis"><i class="fa-solid fa-check" style="color: green;"></i> Etkinlikleri Öne Çıkarma</p>
                <p class="fs-5 text-primary-emphasis"><i class="fa-solid fa-check" style="color: green;"></i> Öncelikli ve Sınırsız Destek</p>
              </div>
            </div>
           

              <h3 class="text-center fw-bolder border border-1 py-3 mt-5 fs-3">6 Aylık / <b class="text-decoration-line-through">275,94₺</b> / 85,99₺</h3>

              <div class="d-flex justify-content-center my-5">
                <h4>Soruların mı var?</h4>&nbsp;
              <a href="contact">Bize Ulaş</a>
              </div>
       
            <a href="/payment" class="btn d-block mx-auto w-75 border-0 py-2 text-white" style="background: var(--first-color)">Şimdi Etkinlik Oluştur</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<%- include('./partials/_footer.ejs') -%>