<%- include('./partials/_header.ejs') -%>

<section id="privacypolicy" class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fs-5">
                <h2 class="mb-4 fs-3 fw-bold">Gizlilik Politikası</h2>
                <p>
                    Bu gizlilik politikası, <a class="underline-link" href="https://etkinlikdolu.com" target="_blank">etkinlikdolu</a> web sitesinin (bundan sonra "Site" olarak anılacaktır) kullanıcıları için kişisel bilgilerin toplanması, kullanılması ve ifşa edilmesiyle ilgili olarak bilgi vermektedir. Bu politika, Site'nin kullanıcılarına sağladığı hizmetlerle ilgili bilgilerin toplanma şeklini ve bu bilgilerin nasıl kullanılacağını açıklar. Lütfen bu gizlilik politikasını dikkatlice okuyun.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">1. Toplanan Bilgiler</h3>
                <p>
                    a. <strong  >Kayıt Olurken:</strong> Siteye kayıt olurken, kullanıcıların adı, soyadı, e-posta adresi, doğum tarihi, cinsiyet, ülke ve kullanıcı adı gibi kişisel bilgileri toplanabilir. Bu bilgiler, Site'nin kullanıcıların etkinliklerini yönetmesi ve kişisel deneyimlerini özelleştirmesi için gereklidir.
                </p>
                <p>
                    b. <strong>Etkinlik Katılımı:</strong> Kullanıcılar bir etkinliğe katıldıklarında, etkinlikle ilgili bilgiler (örneğin, etkinlik türü, tarih ve saat, konum) toplanabilir. Bu bilgiler, etkinliklerin düzenlenmesi, yönetilmesi ve katılımcıların bilgilendirilmesi için kullanılabilir.
                </p>
                <p>
                    c. <strong>Kullanıcı İçeriği:</strong> Kullanıcılar Site üzerinde paylaştıkları içeriklerle ilgili olarak oluşturulan veriler (yorumlar, gönderiler, fotoğraflar vb.) toplanabilir. Bu, kullanıcı deneyimini geliştirmek, kullanıcıların ilgi alanlarına göre öneriler sunmak ve içeriklerin uygunluğunu sağlamak için kullanılabilir.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">2. Kullanılan Bilgiler</h3>
                <p>
                    a. <strong>Hizmet İyileştirme:</strong> Toplanan bilgiler, Site'nin kullanıcı deneyimini iyileştirmek, hizmetlerini kişiselleştirmek ve yeni özellikler eklemek için kullanılabilir.
                </p>
                <p>
                    b. <strong>İletişim:</strong> Kullanıcıların bilgilendirilmesi, etkinliklerle ilgili güncellemelerin iletilmesi veya kullanıcı taleplerine yanıt verilmesi için toplanan iletişim bilgileri kullanılabilir.
                </p>
                <p>
                    c. <strong>Pazarlama:</strong> Kullanıcıların izni alınarak, Site veya iş ortakları tarafından pazarlama faaliyetleri için kullanılabilir. Ancak, kullanıcılar istemedikleri takdirde bu tür iletişimlerden çıkabilirler.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">3. Bilgilerin Paylaşılması</h3>
                <p>
                    a. <strong>Üçüncü Şahıslarla Paylaşım:</strong> Kullanıcı bilgileri, yalnızca hizmetlerin sunulması, yasal gereksinimlerin yerine getirilmesi veya Site'nin haklarını ve mülkiyetini koruması gibi belirli amaçlar için üçüncü şahıslarla paylaşılabilir.
                </p>
                <p>
                    b. <strong>Ortaklar ve Hizmet Sağlayıcıları:</strong> Site, hizmetlerin sağlanması için ortaklar veya hizmet sağlayıcılarla işbirliği yapabilir. Bu durumda, gizlilik politikasının bu üçüncü taraflarla paylaşılan bilgilere de uygulanacağını garanti ederiz.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">4. Güvenlik</h3>
                <p>
                    a. Site, kullanıcı bilgilerini korumak için endüstri standardı güvenlik önlemleri alır. Ancak, internet üzerinden iletişimin tam güvenliği garanti edilemez.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">5. Çocukların Gizliliği</h3>
                <p>
                    a. Site, 13 yaşından küçük çocukların kişisel bilgilerini kasıtlı olarak toplamaz. Eğer 13 yaşından küçük bir çocuğun bilgilerini topladığımızı fark ederseniz, lütfen bize ulaşın ve bilgileri hemen sileriz.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">6. Değişiklikler</h3>
                <p>
                    a. Bu gizlilik politikası, Site'nin takdirine bağlı olarak değiştirilebilir. Herhangi bir değişiklik yapıldığında, güncellenmiş politika Site'de yayınlanacaktır.
                </p>

                <h3 class="mt-5 fw-bold mb-1">7. Hukuksal Haklar</h3>
                <p>
                    a. <strong>Kişisel Veri Erişim Hakkı:</strong> Site kullanıcıları, kendi kişisel verilerine erişme hakkına sahiptir. Bu hak, kişisel verilerin işlenip işlenmediğini ve işleniyorsa hangi amaçlarla işlendiğini öğrenme ve kopya talep etme hakkını içerir.
                </p>
                <p>
                    b. <strong>Kişisel Veri Düzeltme Hakkı:</strong> Site kullanıcıları, yanlış veya eksik kişisel verilerin düzeltilmesini talep etme hakkına sahiptir.
                </p>
                <p>
                    c. <strong>Kişisel Veri Silme Hakkı:</strong> Site kullanıcıları, kişisel verilerinin silinmesini talep etme hakkına sahiptir, özellikle verilerin işlenmesinin amacı ortadan kalktığında veya kullanıcıların verilerinin işlenmesine itiraz ettiklerinde.
                </p>
                <p>
                    d. <strong>Veri İşleme Sınırlama Hakkı:</strong> Site kullanıcıları, kişisel verilerinin işlenmesini sınırlama hakkına sahiptir, özellikle verilerin doğruluğu veya hukuki iddiaların tespiti konusunda tartışma varsa.
                </p>
                <p>
                    e. <strong>Veri Taşınabilirlik Hakkı:</strong> Site kullanıcıları, kişisel verilerini yapılandırılmış, yaygın olarak kullanılan ve makine tarafından okunabilir bir formatta alıp başka bir veri denetleyicisine aktarma veya kişisel verilerini doğrudan bir veri denetleyiciden başka bir veri denetleyicisine aktarma hakkına sahiptir.
                </p>
                <p>
                    f. <strong>Veri İşlemeye İtiraz Hakkı:</strong> Site kullanıcıları, belirli durumlarda kişisel verilerinin işlenmesine itiraz etme hakkına sahiptir, özellikle hukuki bir amaç için veya doğrudan pazarlama amacıyla işlenmişse.
                </p>
                <p>
                    g. <strong>Şikayet Hakkı:</strong> Site kullanıcıları, kişisel verilerinin hukuka aykırı bir şekilde işlendiğini düşünüyorlarsa, yerel veri koruma otoritesine (örneğin, veri koruma komisyonuna) bir şikayette bulunma hakkına sahiptir.
                </p>

                
                <h3 class="mt-5 fw-bold mb-1">Çerezler ve Benzer Teknolojiler</h3>
                <p>
                    a. Site, kullanıcı deneyimini iyileştirmek ve Site'nin çalışmasını sağlamak amacıyla çerezler ve benzer teknolojiler kullanabilir. Bu teknolojiler, kullanıcıların Site'yi nasıl kullandığını analiz etmek, tercihlerini hatırlamak ve kişiselleştirilmiş reklamlar sunmak için kullanılabilir.
                </p>
                <p>
                    b. Kullanıcılar, tarayıcı ayarları aracılığıyla çerezleri kabul etmeyi veya reddetmeyi tercih edebilirler. Ancak, çerezleri devre dışı bırakmanın bazı Site özelliklerinin işlevselliğini etkileyebileceğini unutmayın.
                </p>

                <h3 class="mt-5 fw-bold mb-1">Veri Saklama Süresi</h3>
                <p>
                    a. Site, kullanıcıların kişisel verilerini yasal gereklilikler veya iş gereksinimleri doğrultusunda belirli bir süre saklayabilir. Kişisel verilerin saklanma süresi, verinin toplandığı amaç ve ilgili yasal gereksinimlere bağlı olarak değişebilir.
                </p>

                <h3 class="mt-5 fw-bold mb-1">Üçüncü Taraf Bağlantıları</h3>
                <p>
                    a. Site, kullanıcılarına fayda sağlamak amacıyla üçüncü taraf web sitelerine bağlantılar içerebilir. Bu bağlantılar, kullanıcının Site dışındaki içeriğe erişmesini sağlar. Ancak, bu web sitelerinin gizlilik uygulamaları hakkında kontrolümüz yoktur. Bu nedenle, başka bir web sitesine bağlandığınızda, o sitenin gizlilik politikasını incelemeniz önerilir.
                </p>

                <h3 class="mt-5 fw-bold mb-1">Veri Transferi</h3>
                <p>
                    a. Site, uluslararası kullanıcılarla iletişim kurabilir veya uluslararası hizmetler sunabilir. Bu durumda, kişisel verilerin farklı ülkelere aktarılması gerekebilir. Bu veri transferleri, uluslararası veri aktarımı için uygun güvenlik önlemleri alınarak gerçekleştirilir.
                </p>

                <h3 class="mt-5 fw-bold mb-1">İlgili Kanunlar ve Yönetmelikler</h3>
                <p>
                    a. Site, faaliyet gösterdiği ülkelerin ilgili veri koruma kanunlarına ve yönetmeliklerine uyar. Kullanıcıların kişisel verilerinin korunmasını sağlamak için gerekli yasal standartlara uygun davranırız.
                </p>

                <h3 class="mt-5 fw-bold mb-1">Veri Koruma Yetkilisi</h3>
                <p>
                    a. Kullanıcılar, kişisel verileriyle ilgili herhangi bir sorun veya endişeleri olduğunda, Site'nin veri koruma yetkilisiyle iletişime geçebilirler. Veri koruma yetkilisinin iletişim bilgileri Site üzerinde bulunabilir veya kullanıcı talebi üzerine sağlanabilir.
                </p>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/_footer.ejs') -%>
