<%- include('./partials/_header.ejs') -%>

<section
user-token="<%=(typeof userToken !== 'undefined') ? JSON.stringify(userToken) : '{}' %>"
id="afterRegistration"></section>

<%- include('./partials/_footer.ejs') -%>