<%- include('./partials/_header.ejs') -%>

<section
isVerified="<%=(typeof isVerified !== 'undefined') ? JSON.stringify(isVerified) : '{}' %>"
id="afterRegistration"></section>

<%- include('./partials/_footer.ejs') -%>