<%- include('./partials/_header.ejs') -%>

<section id="terms-of-service" class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fs-5">
                <h2 class="mb-4 fs-3 fw-bold">Hizmet Şartları</h2>
                <p>
                    Lütfen bu Hizmet Şartları'nı dikkatlice okuyunuz. Bu, <a class="underline-link" href="https://etkinlikdolu.com" target="_blank">etkinlikdolu</a> web sitesi (bundan sonra "Site" olarak anılacaktır) ve bu site üzerinden sunulan hizmetlerin kullanımı için geçerlidir.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">1. Hizmetlerin Kullanımı</h3>
                <p>
                    a. Site, kullanıcılarına etkinlikler düzenleme, katılma ve keşfetme imkanı sunar. Siteyi kullanarak, bu Hizmet Şartları'nı kabul etmiş olursunuz.
                </p>
                <p>
                    b. Site üzerinden sunulan hizmetler, yalnızca yasal amaçlarla kullanılmalıdır. Yasadışı etkinlikler düzenlemek veya teşvik etmek kesinlikle yasaktır.
                </p>
                <p>
                    c. Site sahibi, kullanıcıların kendi aksiyonlarından tamamen sorumlu değildir. Her kullanıcı kendi davranışlarından ve paylaştığı içeriklerden bireysel olarak sorumludur.
                </p>
                <p>
                    d. Site sahibi, herhangi bir hukuki ihlal durumunda, kullanıcı hesaplarını askıya alma, içeriği kaldırma veya diğer uygun adımları alma hakkını saklı tutar.
                </p>
                <p>
                    e. Site sahibi, Site'nin kesintisiz veya hatasız olacağını garanti etmez ve Site'nin kullanımı nedeniyle herhangi bir kayıp veya hasar için sorumlu tutulamaz.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">2. Hesap Oluşturma ve Güvenlik</h3>
                <p>
                    a. Siteyi kullanabilmek için bir hesap oluşturmanız gerekmektedir. Hesap bilgilerinizin güvenliği sizin sorumluluğunuzdadır.
                </p>
                <p>
                    b. Hesabınızın yetkisiz erişim veya kullanımını fark ederseniz, derhal bize bildirmeniz önemlidir.
                </p>
                <p>
                    c. Site sahibi, kullanıcıların hesap güvenliği ile ilgili sorunlardan sorumlu değildir.
                </p>
                <p>
                    d. Site sahibi, Site'ye kayıt olurken sağlanan bilgilerin doğruluğundan veya eksiksizliğinden sorumlu değildir.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">3. İçerik Paylaşımı ve Sorumluluk</h3>
                <p>
                    a. Site üzerinde paylaştığınız içeriklerin yasalara uygun olması ve üçüncü şahısların haklarını ihlal etmemesi gerekmektedir.
                </p>
                <p>
                    b. Site, kullanıcılar tarafından paylaşılan içeriklerden sorumlu değildir. Ancak, uygunsuz içerikleri rapor etmek için bir mekanizma sunar ve bu tür içerikleri kaldırma hakkını saklı tutar.
                </p>
                <p>
                    c. Site sahibi, kullanıcıların içerik paylaşımı nedeniyle oluşabilecek herhangi bir hukuki sorumluluğu reddeder.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">4. Etkinlikler ve Katılım</h3>
                <p>
                    a. Site üzerinden düzenlenen etkinliklere katılmak ve düzenlemek sizin sorumluluğunuzdadır. Site, etkinliklerin içeriğinden veya organizasyonundan sorumlu değildir.
                </p>
                <p>
                    b. Etkinliklere katılmak ve bu etkinliklerdeki faaliyetler için kendi sağlığınız ve güvenliğinizden sorumlusunuz.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">5. İptal ve Geri Ödemeler</h3>
                <p>
                    a. Etkinliklerin iptal edilmesi veya değiştirilmesi durumunda, Site bu konuda sorumluluk kabul etmez. İptal politikaları ve geri ödemeler etkinliği düzenleyen tarafından belirlenir.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">6. Fikri Mülkiyet Hakları</h3>
                <p>
                    a. Site üzerinde bulunan tüm içerikler (logolar, metinler, görseller vb.) <a class="underline-link" href="https://etkinlikdolu.com" target="_blank">etkinlikdolu</a> veya lisans verenlerine aittir. Bu içeriklerin izinsiz kullanımı yasaktır.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">7. Değişiklikler ve Güncellemeler</h3>
                <p>
                    a. Bu Hizmet Şartları, Site'nin takdirine bağlı olarak değiştirilebilir. Herhangi bir değişiklik yapıldığında, güncellenmiş şartlar Site üzerinde yayınlanacaktır.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">8. Hukuksal Haklar</h3>
                <p>
                    a. Site sahibi, hukuka uygun bir şekilde kullanıcıların kişisel verilerini işler ve kullanıcıların hukuksal haklarını korur.
                </p>
                <p>
                    b. Site sahibi, herhangi bir hukuksal ihlal durumunda, kullanıcının hesabını askıya alma, içeriği kaldırma veya diğer uygun adımları alma hakkını saklı tutar.
                </p>
                <p>
                    c. Site sahibi, hukuka aykırı kullanım veya içerik yayılması durumunda herhangi bir tazminat veya sorumluluk kabul etmez.
                </p>
                <p>
                    d. Site sahibi, herhangi bir üçüncü şahıs veya kurum tarafından Site üzerinde sağlanan içerikler veya hizmetler nedeniyle ortaya çıkan herhangi bir talep, zarar veya kayıptan sorumlu değildir.
                </p>
                <p>
                    e. Site sahibi, kullanıcıların Site üzerindeki herhangi bir etkinlik nedeniyle diğer kullanıcılara veya üçüncü şahıslara zarar vermesi durumunda sorumluluk kabul etmez.
                </p>
                <p>
                    f. Site sahibi, kullanıcıların Site'yi hukuka aykırı veya yetkisiz şekilde kullanması durumunda yasal adımlar atma hakkını saklı tutar.
                </p>

                <h3 class="mt-5 fw-bold mb-1">9. Kullanıcı Sorumluluğu ve İhlaller</h3>
                <p>
                    a. Kullanıcılar, siteyi kullanırken sorumludur ve içerik paylaşımı yaparken yasalara uygun davranmak zorundadır. Aksi takdirde, hesapları askıya alınabilir veya kaldırılabilir.
                </p>
                
                <h3 class="mt-5 fw-bold mb-1">10. Tazminat ve Sorumluluk Sınırlamaları</h3>
                <p>
                    a. Site sahibi, kullanıcıların veya üçüncü şahısların Site'nin kullanımı nedeniyle ortaya çıkabilecek herhangi bir zarar veya kayıptan tazminat talep etme hakkına sahiptir. Ayrıca, site sahibinin kullanıcılar veya üçüncü şahıslar tarafından Site üzerinde sağlanan içerikler nedeniyle hiçbir sorumluluğu olmadığını belirtir.
                </p>
                
                <!-- Diğer maddeler -->

                <h3 class="mt-5 fw-bold mb-1">11. Kullanım Koşullarının Değişimi</h3>
                <p>
                    a. Site sahibi, hizmet şartlarını dilediği zaman değiştirme hakkını saklı tutar. Değişiklikler, Site üzerinde yayınlanarak kullanıcılara duyurulur.
                </p>

                <h3 class="mt-5 fw-bold mb-1">12. Hukuki Yetki ve Uyuşmazlık Çözümü</h3>
                <p>
                    a. Bu Hizmet Şartları, Türk Ceza Kanunu yasalarına tabi olacaktır. Herhangi bir uyuşmazlık durumunda, yetkili mahkemeler karar verecektir.
                </p>
                
            </div>
        </div>
    </div>
</section>

<%- include('./partials/_footer.ejs') -%>
