.footer {
  background-color: #f8f9fa;
  min-height: 40vh;
  display: flex;
  flex-direction: column; 
  font-family: var(--second-font);
}

.footer .container {
  flex: 1;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.footer .container .rowAfterContainer {
  flex: 1;
}

.btnStyles {
  background-color: #FD3412;
  border: 1px solid #FD3412;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
}

.btnStyles:hover,
.btnStyles:focus {
  background-color: #E52E10;
  border-color: #C5260E;
}

.btnStyles:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 52, 18, 0.5);
}





.footerElements {
  color: #a9a9a9;
  
}



@media screen and (max-width: 768px) {
  .footerButton {
    margin-top: 1rem;
  }

  .btnStyles {
    margin: 1rem 0;
  }
}
