.banner-header {
  display: flex;
  align-items: center;
    width: 100%;
    min-height: 60vh;
    padding: 1rem 0;
}


/* RESIM STILLERI */
.custom-card {
 
  border-radius: 10px; /* Kart kenar yuvarlaklığı */
  padding: 20px; /* Kart iç içe boşluk */

  
}

.custom-card h1 {
  color: #343a40; /* Başlık rengi */
  font-size: 2.5rem; /* Başlık boyutu */
  margin-bottom: 20px; /* Başlık alt boşluğu */
  text-align: center; /* Başlık hizalama */
}

.custom-card p {
  color: #6c757d; /* Paragraf rengi */
  font-size: 1.2rem; /* Paragraf boyutu */
  text-align: justify; /* Paragraf hizalama */
  line-height: 1.09; /* Satır yüksekliği */
}

.custom-card img {
  margin-top: 20px; /* Resim üst boşluğu */
  border-radius: 5px; /* Resim kenar yuvarlaklığı */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Resim gölge efekti */
}





/* OTHERHALF'IN FORM STILLERI */
.otherHalf form {
    width: 75%;
}

.searchBoxContainer {
    display: flex;
    width: 100%;

}

.searchBoxEvent {
   position: relative;
   margin-right: 10px;
   width: 100%;
}

#searchBoxLocation {
    position: relative;
    width: 100%;
}

.formLabelContainer label {
font-size: 3rem;
color: white;
font-family: var(--second-font);
}




/* INPUT STILLERI */
.otherHalf form input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  padding: 17px 0 17px 0;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-indent: 35px;
}




 /* BUTTON STILLERI */

 .otherHalf form button {
    background-color: var(--first-color);
    color: #fff;
    border: none;
    width: 100%;
    height: 45px;
    margin-top: 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Buton üzerinde gezinti yapılırken rengi değişir */
  .otherHalf form button:hover {
    background-color: #0069d9;
  }
  
  /* Buton basıldığında rengi değişir */
  .otherHalf form button:focus {
    outline: none;
    box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.5);
  }
  
  /* Buton etrafında bir gölge efekti oluşturulur */
  .otherHalf form button:active {
    background-color: #005cbf;
  }


  
  /* OTHERHALF'IN FORMUNUN BILGI STILI */

 .latestInfo {
    display: block;
    font-size: 1rem;
    color: var(--third-color);
    font-family: var(--second-font);
    font-weight: bold;

    
  }


  /** HOME EVENTS STYLES **/
  #homeEvents {
    min-height: 60vh;
    padding: 5rem 0;
  }


   /** HOME offers STYLES **/
  #etkinlikOffers {
    min-height: 60vh;
    padding: 5rem 0;
  }

  .futuringEventsHeader h1 {
    font-size: 1.4rem; 
   }
   .futuringEventsHeader a {
     font-size: 1.2rem; 
    }



  /** INTRODUCTION IMAGES **/

  .imageContainer {
    position: relative;
    text-align: center;
    color: white;
  }

  .imageContainer img {
    filter: brightness(80%);
   
  }

  .imageText {
    display: block;
    padding : 1rem;
    width: 85%;
    height: 20%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    font-family: var(--second-font);
    font-weight:bold;
    letter-spacing: 0.8px;
    border-radius: 5px;
    color: #0F52BA;
    background: rgb(255, 255, 255); /* Fallback color */
    background: rgba(255, 255, 255, 0.7); /* Black background with 0.5 opacity */
  }




  .text-underline-hover:hover {
    text-decoration: underline;
}

.imageContainer:hover {
    filter:brightness(110%)
}


.attendees-container img:nth-of-type(1) {
  z-index: 2;
  }

.attendees-container img:nth-of-type(2) {
z-index: 1;
margin-left: -25px;
}

.attendees-container img:nth-of-type(3) {
  z-index: 0;
  margin-left: -25px;
  filter: blur(1px);
  }

.location-span {
  font-size: 1.1rem;
}


@media (max-width: 1200px) and (min-width: 992px)  {
  /* .row .col-lg-4:nth-child(2) .imageText {
    font-size: 1.3rem !important;
} */
}


@media screen and (max-width: 1200px) {
/* OTHER HALF */

.otherHalf form {
  width: 100%;
}
}

@media screen and (max-width: 768px) { 
.futuringEventsHeader h1 {
 font-size: 1.1rem; 
}
.futuringEventsHeader a {
  font-size: 0.9rem; 
 }
}

@media screen and (max-width: 992px) {

}


