@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body {
	background: linear-gradient(to bottom, #ffffff, #f1f1f1);
}

a {
	text-decoration: none;
}

:root {
    --first-color: #FD3412;
    --second-color: #5F51FE;
    --light-color: #FFFFFF;
    --dark-color: #000000;
    --light-grey-color: #E7E5FA;
	--main-background: linear-gradient(to bottom, #f7f7f7, #e6e6e6);;



    --first-font: 'Fruktur', cursive;
	--second-font: 'EB Garamond', serif;
	--third-font: 'Open Sans', sans-serif;

}


/* WELCOME BUTTON STYLES */
#dropdown-menu-align-end {
	background: linear-gradient(rgba(253, 52, 18, 0.7), rgba(253, 52, 18, 1));
	border: none;
	padding: 0.6rem;
   }


  .dropdown-item {
	width: 20rem !important;
	font-size: 1rem;
	line-height: 2.5rem;
	height: 3rem;
  }

  .dropdown-item:hover {
	background: var(--light-grey-color)
  }

  .dropdown-item:active {
	background: var(--light-grey-color);
	color: black;
  }

