#eventsId {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
    padding: 2rem 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* İki sütun olacak */
  grid-auto-rows: minmax(0, 1fr); /* Kutuların yüksekliği eşit olacak */
  grid-gap: 10px; /* Sütunlar arasındaki boşluk */
  }
  
  .gridItem {
    width: 100%; /* Sütun genişliği */
  }

  .scrollableMenu {
    height: auto;
    max-height: 25rem;
    overflow-x: hidden;
}



.searchContainer {
  position: relative;
  width: 30%;
}

.searchContainer .searchIcon {
  position: absolute;
  top: 50%;
  left: 0.7rem;
  transform: translateY(-50%);
  color: #ccc;
  cursor: pointer;
}

.searchContainer .searchIcon i {
  font-size: 16px;
}

.searchContainer input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 2rem;
}

.typing {
  border-radius: 0.375rem;
}

.resultNotFound {
  padding: 25px;
  text-align: center;
  font-size: 20px;
  color: rgba(0,0,0,.5);
}


.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* .searchResultsItems {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
} */

.searchResultsItems {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchResultsItems:hover {
  background-color: #f5f5f5;
  color: #333; /* Metin rengi */
  border-left: 3px solid var(--second-color); /* Vurgu çizgisi rengi */
}


/* ALERT MESSAGE TRANSITION */


.alertMessage {
  text-align: center;
  background-color: #5cb85c; /* Başarılı mesajın arka plan rengi */
  color: #ffffff;
  opacity: 0; /* Başlangıçta mesajın görünürlüğü 0 */
  animation: fadeInOut 5s ease-in-out forwards; /* 5 saniye süreyle animasyonu başlat */
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0; /* Başlangıçta ve sonunda mesajın görünürlüğü 0 */
  }
  10%, 90% {
    opacity: 1; /* 5 saniye süresinin yüzde 10 ve yüzde 90'larda mesajın görünürlüğü 1 (görünür) */
  }
}
@media screen and (max-width: 768px) {
  .searchContainer {
    width: 100%;
  }

  .searchElements {
    margin: 0.3rem 0;
  }
}

@media screen and (max-width: 576px) {
  .eventsTitle {
    margin-bottom: 1rem;
  }
}

   