.btnDeleteicon {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.1rem; /* X işaretinin boyutunu ayarla */
}

.notification {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  background-color: green;
  color: white;
  width: auto;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  z-index: 1000;
  animation: slideDown 0.5s ease-out;
  display: flex; /* Flexbox kullan */
  justify-content: center; /* İçeriği yatay olarak ortala */
  align-items: center; /* İçeriği dikey olarak ortala */
}

.notificationMessage {
  flex: 1; /* Mesajın genişliğini esnek yap */
  text-align: center; /* Mesajı metin olarak ortala */
}

.closeNotification {
  float: right; /* Butonu sağa hizala */
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto; /* Sol tarafındaki boşluğu otomatik ayarla */
}

@keyframes slideDown {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 8%;
    opacity: 1;
  }
}

.colWidth {
  padding: 0;
  margin: 0;
}

.ulMenu {
  overflow-y:auto;
  overflow-x:hidden;
 width: 100%;
 display: flex;
 flex-direction: column; 
}

.ulMenu li {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}


.ulMenu li:hover {
background: #ccc;
transition: ease-in-out 0.1s;
}

.ulMenu li svg {
 margin: 0 1rem;
}

.premiumBadge {
  margin: 0 1rem;
  display: inline-block;
  color: #495057;
  font-weight: 700;
  font-style: italic;
}

.ulMenu li a {
  font-family: var(--third-font);
  font-weight: 400;
  width: 100%;
  height: 60px;
 padding-top: 1.2rem;
 position: relative;
} 



.ulMenu li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: rgba(108, 117, 125, 0); /* Başlangıçta görünmez */
  transform: scaleY(0);
  transition: transform 0.2s ease, background-color 0.2s ease;
}


/* Aktif NavLink için ::after pseudo-element stil */
.ulMenu li a.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: rgba(108, 117, 125, 1);
  transform: scaleY(1); /* Aktif olduğunda görünür olacak */
  transition: transform 0.2s ease;
}



@media screen and (max-width: 1200px) {
.ulMenu li a span {
  display: none;
}

.ulMenu li:nth-child(5) a span:nth-child(1){
  display: block;
}

}

