/* .profileBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  min-height: 30vh;
  background: linear-gradient(180deg, transparent 50%, #000), linear-gradient(180deg, rgba(0, 0, 0, .1), transparent 16.52%);
}



.listStyle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    height: 100vh;
    padding: 0;
    list-style-type: none;
  }
  
  .listStyle li {
    margin: 0;
  }
  
  .listStyle a {
    display: block;
    background-color: #fff;
    color: #333;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid #dee2e6;
  }
  
  .listStyle a.active,
  .listStyle a:hover {
    background-color: var(--first-color);
    color: #fff;
    border-color: var(--first-color);
  }
  
  .listStyle a:focus {
    outline: none;
  }

  .alertMessage {
    text-align: center;
    background-color: #5cb85c; /* Başarılı mesajın arka plan rengi */
    /* color: #ffffff;
    opacity: 0; /* Başlangıçta mesajın görünürlüğü 0 */
    /* height: 50px;
    line-height: 50px;
    margin: 1rem;
    border-radius: 6px;
    animation: fadeInOut 5s ease-in-out forwards; /* 5 saniye süreyle animasyonu başlat */
  /* }  */ 
  
  /* @keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* Başlangıçta ve sonunda mesajın görünürlüğü 0 */
    /* }
    10%, 90% {
      opacity: 1; /* 5 saniye süresinin yüzde 10 ve yüzde 90'larda mesajın görünürlüğü 1 (görünür) */
    /* }
  }  */ 


/* .containerFluid {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
} */

/* .asideMenu {

} */

.colWidth {
  padding: 0;
  margin: 0;
}

.ulMenu {
  overflow-y:auto;
  overflow-x:hidden;
 width: 100%;
 display: flex;
 flex-direction: column; 
}

.ulMenu li {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}


.ulMenu li:hover {
background: #ccc;
transition: ease-in-out 0.1s;
}

.ulMenu li svg {
 margin: 0 1rem;
}

.premiumBadge {
  margin: 0 1rem;
  display: inline-block;
  color: #495057;
  font-weight: 700;
  font-style: italic;
}

.ulMenu li a {
  font-family: var(--third-font);
  font-weight: 400;
  width: 100%;
  height: 60px;
 padding-top: 1.2rem;
 position: relative;
} 

 /* .ulMenu li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: rgba(108, 117, 125, 1);
  transform: scaleY(0); 
  transition: transform 0.2s ease; 
}

 .ulMenu li a:focus::after {
  transform: scaleX(1);
}   */

.ulMenu li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: rgba(108, 117, 125, 0); /* Başlangıçta görünmez */
  transform: scaleY(0);
  transition: transform 0.2s ease, background-color 0.2s ease;
}


/* Aktif NavLink için ::after pseudo-element stil */
.ulMenu li a.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: rgba(108, 117, 125, 1);
  transform: scaleY(1); /* Aktif olduğunda görünür olacak */
  transition: transform 0.2s ease;
}



@media screen and (max-width: 1200px) {
.ulMenu li a span {
  display: none;
}

.ulMenu li:nth-child(5) a span:nth-child(1){
  display: block;
}

}

