.newEventRightContainer h3 {
    display: block;
    color: black;
    padding: 0.7rem;
    border-radius: 1rem;
    font-family: var(--second-font);
    text-align: left;
}

.getFont {
    margin: 0.5rem 0;
}

.newEventRightContainer small {
    font-size: 1.1rem;

    margin-left: 0.5rem;
}