.btnStyles {
    background-color: #FD3412;
    border: 1px solid #FD3412;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
  }
  
  .btnStyles:hover,
  .btnStyles:focus {
    background-color: #E52E10;
    border-color: #C5260E;
  }
  
  .btnStyles:focus {
    box-shadow: 0 0 0 0.2rem rgba(253, 52, 18, 0.5);
  }

.width {
  width: 75% !important;
}

@media screen and (max-width: 968px) {
  .width {
    width: 100% !important;
  }
}